<% include ./partials/header.ejs %>


<div class="container">
    <h2>Vaccine stock</h2>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Vaccine</th>
                <th scope="col">Count</th>
                <th scope="col">Change</th>
            </tr>
        </thead>
        <tbody>
            <% for (i = 0; i <allVaccines.length ; i++){ %>
            <tr>
                <th scope="row"><%=allVaccines[i]%></th>
                <td scope="row"><%=allValues[i]%></td>
                <td scope="row">
                    <input class="form-control" type="text" name="value">
                    <button class = "ui violet basic big button" type="submit">submit</button>
                </td>
            </tr>
            <% }; %>
        </tbody>
    </table>
</div>


<% include ./partials/footer.ejs %>