<% include ./partials/header.ejs %>


<div class="container">
    <table class="table table-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Vaccine</th>
            <th scope="col">count</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row"><%=vaccine%></th/vaccines>
            <td><%=val%></td>
        </tr>
        </tbody>
    </table>
</div>


<% include ./partials/footer.ejs %>